
.body{
    font-family: 'Comic Neue', cursive;
}
.container{
    width:500px;

}
.header{
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    height: 300px;
    padding: 20px;
}
.material-icons{
    font-size: 40px;
    color: #c5c3bf;
    cursor: pointer;
}
.renew{
    color: #c5c3bf;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}

.text{
    font-size: 20px;
    color: #251a54 ;
    margin-top: 5px;
    vertical-align: middle;
    height: 40px;
}
.radio_button_unchecked{
    color:#251a54 ;  
}
.delete{
 color:#251a54 ;    
}

input::placeholder{
    color: #4b3572;
    font-family: 'Comic Neue', cursive;
}
.add{
    border-bottom: 1px solid #251a54 !important;
    font-family: 'Comic Neue', cursive;

    color:#251a54 ;
}
.add:focus{
    border-bottom: 2px solid  #8879a4 !important;
}
.add-circle{
    color: #8879a4 ;
    font-weight: 300;
}
.line-through{
    text-decoration: line-through;
}
.date{
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
    font-weight: bold;
}